<div *ngIf="isVisible" class="modal-backdrop">
  <div class="modal-dialog">
    <div class="modal-content">
      <p>{{ message }}</p>
      <div class="modal-actions">
        <button type="button" class="btn-cancel" (click)="cancelDelete()" [disabled]="isDeleting">
          {{ cancelButtonText }}
        </button>
        <button type="button" class="btn-danger" (click)="confirmDelete()" [disabled]="isDeleting">
          <span *ngIf="isDeleting">Excluindo...</span>
          <span *ngIf="!isDeleting">{{ deleteButtonText }}</span>
        </button>
      </div>
    </div>
  </div>
</div>